/* all */
* {
  box-sizing: border-box;
}

.hr-center {
  text-align: center;
}

.hr-right {
  text-align: right;
}

/* background color */
.bkg-clr-main {
  background-color: #FFFFFF;
}

.bkg-clr-second {
  background-color: #DBE8E7;
}

.bkg-clr-accent1 {
  background-color: #3E99AD;
}

.bkg-clr-accent2 {
  background-color: #CBCA69;
}

.bkg-clr-accent3 {
  background-color: #FF7757;
}

/* body */
/* Bootstrapの影響で要素に直にスタイル適用できないため、updateクラス追加 */
body.update {
  width: 90%;
  margin: 20px auto;
  max-width: 900px;
}

h2.update {
  margin-bottom: 0;
  padding: 10px;
}

div.update {
  margin-bottom: 0;
  padding: 10px;
}

p.update {
  margin-bottom: 0;
  /* padding: 10px;  後ほど検討*/
}

/* header */
/* Bootstrapの影響で要素に直にスタイル適用できないため、既存クラス指定 */
header div.row {
  height: 80px;
}

header img.logo {
  width: 100px;
}

/* main */
main section {
  padding: 20px;
}

.img-home-sec1 {
  width: 100%;
  max-width: 600px;
}

.sec-2nd button img { 
  width: 100%;
  max-width: 250px;
}

/* footer */
footer {
  /* height: 200px; */
}
