/* all */
* {
  box-sizing: border-box;
}

.base--align-c {
  text-align: center;
}

.base--align-r {
  text-align: right;
}

/* background color */
.block--bkg-clr-main {
  background-color: #FFFFFF;
}

.block--bkg-clr-second {
  background-color: #DBE8E7;
}

.block--bkg-clr-accent1 {
  background-color: #3E99AD;
}

.block--bkg-clr-accent2 {
  background-color: #CBCA69;
}

.block--bkg-clr-accent3 {
  background-color: #FF7757;
}

/* body */
/* Bootstrapの影響で要素に直にスタイル適用できないため、default-styleクラス追加 */
.block--default-style {
  width: 90%;
  margin: 20px auto;
  max-width: 900px;
}

.heading--default-style {
  margin-bottom: 0;
  padding: 10px;
}

.div--default-style {
  margin-bottom: 0;
  padding: 10px;
}

.txt--default-style {
  margin-bottom: 0;
  /* padding: 10px;  後ほど検討*/
}

/* header */
/* Bootstrapの影響で要素に直にスタイル適用できないため、既存クラス指定 */
header div.row {
  height: 80px;
}

.navbar__logo {
  width: 100px;
}

/* main */
main section {
  padding: 20px;
}

.home__img {
  width: 100%;
  max-width: 600px;
}

.home__sec-recode-edit button img { 
  width: 100%;
  max-width: 250px;
}

/* footer */
footer {
  /* height: 200px; */
}
